<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="10" class="ion-text-center">
        <div>
          <h2>Welcome to</h2>
          <h1>ElitCorp</h1>
        </div>
        <div *ngIf="register; else login">
          <app-register></app-register>
        </div>
        <ng-template #login>
          <app-login></app-login>
        </ng-template>
        <p (click)="this.register = !this.register">{{ this.register ? 'Already an account ? Login !' : 'No account yet ? Register !' }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

