ion-grid, ion-row {
  height: 100%;
  width: 100%;
  background-color: #3880ff;
}

div  {
  margin: 2em 0;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2, button {
  font-size: 2rem;
}

h1, h2 {
  color: snow;
  text-shadow: rgba(0, 0, 0, 0.15) 5px 5px;
}

p {
  text-decoration: underline;
}
