.custom-row {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-title {
  font-size: 2rem;
  font-weight: 500;
}

ion-list-header {
  font-size: 1.5rem;
  padding: 1.5rem 0 0 1.5rem;
}

ion-spinner {
  transform: scale(3);
}
